html {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1%;
    font-size: 1rem;
    background-color: #212121;
    color: #E8E8E8;
}

header p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.5rem;
    padding: 0.25rem;
}

footer {
    margin: 0.25rem 0;
}

.container {
    display: block;
    width: 80%;
    margin: 5% auto;
}

.input-section {
    display: block;
    padding: 1rem;
    width: 25%;
    min-width: 480px;
    margin: 0 auto;
}

.input-section fieldset {
    display: block;
    border: 0.125rem solid #444;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    text-align: center;
    margin: 1% auto;
}

.input-section fieldset legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #E8E8E8;
    padding: 0.5rem;
}

.input-section fieldset div {
    display: block;
    margin: 0.5rem auto;
}

.input-section fieldset label {
    display: block;
    margin: 0.25rem;
}

.input-section fieldset input,
.input-section fieldset select {
    width: 20%;
    border: 0.0625rem solid #555;
    border-radius: 0.25rem;
    background-color: #333;
    color: #E8E8E8;
    padding: 0.25rem;
}

.input-section button[type="submit"] {
    display: block;
    border: 0.125rem solid #444;
    border-radius: 0.25rem;
    background-color: #333;
    color: #E8E8E8;
    font-size: 1.2rem;
    font-weight: bold;
    width: 6rem;
    height: 2rem;
    margin: 1rem auto;
}

.graph-section #graph {
    display: block;
    margin: 0 auto;
}

.result-section {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-section div {
    overflow-x: auto;
}

#result-table {
    border: 0.125rem solid #555;
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

#result-table th, td {
    border: 0.125rem solid #444;
    text-align: center;
    background-color: #333;
    padding: 0.5rem;
}

#result-table th {
    font-size: 1.2rem;
}

#github {
    display: block;
    color: lightgray;
    text-decoration: none;
    text-align: center;
    padding: 0.1rem;
}

#github:hover {
    color: gray;
    transition: ease 500ms;
}

#error {
    color: red;
    text-align: center;
    padding: 2.5%;
    margin: 0 auto;
}